<div class="mb-4">
    <p class="px-3 mb-4 card-title"> Recent transactions </p>
    <div class="row mx-3 p-3 border-class">
        <div class="col-12 py-2 d-flex align-items-center justify-content-between" 
            *ngFor="let item of recentTransaction">
            <div>
                <div class="d-flex align-items-center">
                    <img [src]="item.image" alt="" class="image-class">
                    <div class="d-flex flex-column">
                        <p class="mb-0"> {{ item.name }} </p>
                        <p class="mb-0"> {{ item.date }} </p>
                    </div>
                </div>
            </div>
            <div>
                <p> {{ item.amount | currency: '$' }} </p>
            </div>
        </div>
    </div>
</div>
